body {
  background: linear-gradient(180deg, #004d00 0%, #003300 100%);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  margin: 0;
  color: white;
}

.top-element {
  justify-content: center;
  /* font-family: "Poppins", sans-serif; */
  font-size: 40px;
  /* color: white; */
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
  text-align: center;
  user-select: none;
}

.days {
  display: grid;
  grid-template-columns: repeat(6, 80px);
  row-gap: 40px;
  column-gap: 90px;
  /* list-style: none; */
  padding: 40px;
  /* margin: 0; */
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid #d4af37;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255, 215, 0, 0.4), inset 0 0 15px rgba(0, 0, 0, 0.4);
}

.days li {
  background: linear-gradient(145deg, #3b1717, #8b2020);
  border: 2px solid #d4af37;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 80px;
  width: 80px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  /* position: relative; */
  user-select: none;
  perspective: 800px;
  /* margin: 0; */
  /* padding: 0; */
}

.days li .door {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transform-origin: left;
  transition: transform 0.8s ease;
  background: linear-gradient(145deg, #b30000, #ff0000);
  box-shadow: 0 5px 10px rgba(0,0,0,0.4);
}

.days li.opened .door {
  transform: rotateY(-150deg);
}
.days li.locked .door {
  transform: rotateY(0deg);
}

/* .days li::before {
  content: "";
  /* position: absolute;
  inset: 0;
  border-radius: 10px;
  background: radial-gradient(circle, rgba(255,255,255,0.25) 0%, transparent 70%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
} */

.days li:hover::before {
  opacity: 1;
}

.days li:hover {
  transform: translateY(-5px) scale(1.05);
  /* background: linear-gradient(145deg, #ff4d4d, #b30000); */
  box-shadow: 0 10px 20px rgba(255, 0, 0, 0.5);
}

.days li:nth-child(24) {
  background: linear-gradient(145deg, #006600, #009900);
  animation: sparkle 2s infinite ease-in-out;
  border: 2px solid gold;
}

.snowflake {
  position: fixed;
  top: -26px;
  pointer-events: none;
  animation: fall linear infinite;
  z-index: 1;
}

@keyframes sparkle {
  0%, 100% { box-shadow: 0 0 10px gold; }
  50% { box-shadow: 0 0 20px #fff; }
}

@keyframes fall {
  0% { transform: translateY(0) translateX(0) rotate(0deg); opacity: 0.9; }
  100% { transform: translateY(130vh) translateX(50px) rotate(360deg); opacity: 0.3; }
}

@keyframes openBox {
  0%   { transform: scale(0.5) rotate(-15deg); opacity: 0; }
  50%  { transform: scale(1.2) rotate(10deg); opacity: 1; }
  70%  { transform: scale(0.9) rotate(-5deg); }
  100% { transform: scale(1) rotate(0deg); }
}

@keyframes teemu-excited {
  0% {opacity: 1;}
  100%{opacity: 0;}
}
@keyframes teemu-mouthopen {
  0% {opacity: 1;}
  100%{opacity: 0;}
}

@keyframes teemu-satisfied {
  0% {opacity: 1;}
  100%{opacity: 0;}
}

@keyframes teemu-unhappy {
  0% {opacity: 1;}
  100%{opacity: 0;}
}

.teemu-excited {
position: absolute;
top: 25%;
left: 1%;
width: 20%;
animation: teemu-excited 1s linear;

}

.teemu-mouthopen {
position: absolute;
top: 25%;
left: 1%;
width: 20%;
animation: teemu-mouthopen 1s linear; 
}

.teemu-satisfied {
position: absolute;
top: 25%;
left: 1%;
width: 20%;
animation: teemu-satisfied 1s linear; 
}

.teemu-unhappy {
position: absolute;
top: 25%;
left: 1%;
width: 20%;
animation: teemu-unhappy 1s linear; ;
}

.snowflake:nth-child(odd) {
  animation-duration: 15s;
}
.snowflake:nth-child(even) {
  animation-duration: 18s;
}

.today-open {
  animation: openBox 0.8s ease forwards;
  box-shadow: 0 0 25px gold, inset 0 0 15px rgba(255,255,0,0.5);
  border: 3px solid gold;
}

.play-btn {
  position:absolute;
  align-items:center;
  bottom: 50px;
  color: white;
  padding: 12px 24px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.8s ease;
  background: linear-gradient(145deg, #b30000, #ff0000);
  border: 2px solid #d4af37;
  box-shadow: 0 0 30px rgba(255, 215, 0, 0.4), inset 0 0 15px rgba(0, 0, 0, 0.4);
}

.play-btn:hover {
  transform: translateY(-5px) scale(1.05);
  transition: all 0.25s ease-in-out;
  box-shadow: 0 10px 20px rgba(255, 0, 0, 0.5);
}

.play-btn:active {
  transform: scale(0.9);
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.8);
}

.play-btn::after {
  content: " 🎄";
}

.volume-container {
  position: fixed;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 14px;
  user-select: none;
}